 
/* Side btns */
 .half-round-btn{
     display: block;
     background: white;
     opacity:0.6;
     font-size: 15px;
     width:80px;
     height:160px ;
     line-height:50px;
     text-align: center;
     border-width: 0ch;
     box-shadow: 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255), 0 0 40px rgb(255, 255, 255), 0 0 50px rgb(255, 255, 255), 0 0 60px rgb(255, 255, 255);
 }

 .left{
    position: absolute;
    margin-top:10%;
    border-radius: 0 100px 100px 0 ;
    webkit-transition: all 300ms cubic-bezier(.55,0,.1,1);
    -moz-transition: all 300ms cubic-bezier(.55,0,.1,1);
    -ms-transition: all 300ms cubic-bezier(.55,0,.1,1);
    -o-transition: all 300ms cubic-bezier(.55,0,.1,1);
    transition: all 300ms cubic-bezier(.55,0,.1,1);
}
/*  
 .half-round-btn:hover{
    width:160px;
    line-height: 50px;
  } */

  .half-round-btn:hover{
    width:160px;
    line-height: 50px;
    border-radius:50%;
    webkit-transition: all 300ms cubic-bezier(.55,0,.1,1);
    -moz-transition: all 300ms cubic-bezier(.55,0,.1,1);
    -ms-transition: all 300ms cubic-bezier(.55,0,.1,1);
    -o-transition: all 300ms cubic-bezier(.55,0,.1,1);
    transition: all 300ms cubic-bezier(.55,0,.1,1);
  }

  .go-live{
    top:45%;
  }

/* Song Lists inactive */
#song-list{
  margin-left: 37%;
  display: none
}

/* Song Lists active */
#song-list.active{
  margin-left: 37%;
  display: block;
}

audio{
    display: flex;
    opacity: 0.8;
    
}
 
 li{
     margin-top: 1%;
     text-align: left;
     list-style: none;
     font-style: italic;
     font-family: cursive;
     
}
 
h1{
  font-style: italic;
  font-family: cursive;
  margin-left: 5%;
  /* text-align: center; */
  position: relative;
  
}

/* live */

.live{
  position: absolute;
  text-align: center;
  opacity:0.8;
  margin-left:10%;
}

#message{
  font-size: 20px;
  border-radius: 5px;
}

.sound-effect{
    height: 70px;
    width: 70px;
    background-color: white;
    border-color: white;
    border-radius: 50%;
    margin-top: 1.5%;
    opacity: 0.8;
    text-align: center;
    /* margin-left: 30%; */
    /* box-shadow: 2px 3px */
}

.sound-effect:hover{
  opacity:1;
  transition: opacity 1s
}

